In [7]:
import pandas as pd
df=pd.read_csv('../data/spam_cleaned.csv')



df = df.dropna(subset=['cleaned_message'])  # Remove rows with missing values
df['cleaned_message'] = df['cleaned_message'].astype(str)
display(df.head())

,label,message,Unnamed: 2,Unnamed: 3,Unnamed: 4,cleaned_message,message_length
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,go jurong point crazy available bugis n great ...,111
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN,ok lar joking wif u oni,29
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,free entry wkly comp win fa cup final tkts st ...,155
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN,u dun say early hor u c already say,49
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,nah dont think goes usf lives around though,61

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Assuming 'df' is your pandas DataFrame with the 'message' column

# Create a TF-IDF vectorizer with N-gram support
vectorizer = TfidfVectorizer(
    ngram_range=(1, 2),  # Consider unigrams and bigrams
    stop_words='english',
    max_features=5000
)

# Fit and transform the data
X = vectorizer.fit_transform(df['cleaned_message']).toarray()
y = df['label'].values

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
# Check data shapes
print(f"Training data shape: {X_train.shape}")
print(f"Testing data shape: {X_test.shape}")

Training data shape: (4388, 5000)
Testing data shape: (775, 5000)